body {
  background-color: white; /* Mặc định nền trắng */
  transition: background-color 0.5s;
  margin-left: 25%;
  margin-right: 25%;
}

.container {
  margin-top: 2px;
  text-align: center;
  flex: 49%;
  border: solid black; /* Định dạng viền */
  border-width: 1px 0.5px 1px 0.5px; /* Trên, phải, dưới, trái */
}

.device{
  display: flex;
  flex-wrap: wrap;
}
.mota{
  text-align: left;
}
h2 {
  font-size: 120%;
}

#status {
  font-size: 100%;
  margin-top: 5%;
}

img {  
  width: 20%;
  margin-top: 10%;
  transition: opacity 0.5s;
}

/* CSS Switch (giữ nguyên từ trước) */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
h1, h4 {
  text-align: center; /* Căn giữa */
  padding: 10px; /* Thêm khoảng cách để dễ nhìn */
  border-radius: 10px; /* Bo góc mềm mại */
}
h2{
  
}
